*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
<<<<<<< HEAD
h2{
    display: flex;
    font-family: "Montserrat", sans-serif;
=======
@font-face {
    font-family: "MayorSmith";
    src: url("./Temptations Fonts/MayorSmith.ttf");
  }
h2{
    display: flex;
>>>>>>> 557e8e9 (Update 3)
    align-items: top;
    justify-content: center;
    margin-top: 20px;
    font-size: 25px;
}
nav{
    display: flex;
    justify-content: center;
    min-height: 8vh;
    background-color: seagreen;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.nav-pills{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-pills li{
    list-style: none;
}
.heading{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-pills a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}
.nav-pills li a:hover:not(.active){
    background-color: green;
}
.nav-pills li a.active{
    background-color: green;
}