* {
  box-sizing: border-box;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10, .bgimg-11 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 3.png");
  height: 100%;
}

.bgimg-2 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 6.jpg");
  height: 100%;
}

.bgimg-3 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 1.jpg");
  height: 100%;
}

.bgimg-4 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-5 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-6 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-7 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-8 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-9 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-10 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-11 {
  background-image: url("TheTemptationsGallery/The\ Temptations\ 5.jpg");
  height: 100%;
}

.bgimg-1 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-2 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-3 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-4 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-5 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-6 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-7 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-8 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-9 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-10 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

.bgimg-11 h1 {
  padding: 18px;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: goldenrod;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
  background: darkgoldenrod;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 25px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background:darkgoldenrod;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: goldenrod;
}

ul li:hover ul.dropdown {
  display: block;
}

.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {   
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}